<div class="alert alert-success" name="alert" *ngIf="successAdd==1">
  added succefuly
</div>
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">

  <div class="container-fluid">
    <style>
      div#div1 {
        height: 45px;
        width: 200px;
        margin-left: 75%;
      }
    </style>
    <div id="div1" name="div1">
      <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ">
        <div class="form-group mb-0" [ngClass]="{ 'focused': focus === true }">
          <div class="input-group input-group-alternative">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-search"></i></span>
            </div>
            <input class="form-control" placeholder="Search" type="text" (focus)="focus = true" (blur)="focus = false"
              (keydown)="searchByEnterKey($event)" [(ngModel)]="searchWord" name="search">
            <button class="btn btn-sm btn-white ml-2 px-1"><i class="fa fa-search" (click)="search()"></i> </button>
            <button class="btn btn-sm btn-white ml-2 px-1" (click)="resetSearch()"><i class="ni ni-bold-left"></i>
            </button>
          </div>

        </div>
      </form>
    </div>
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">

                  <h5 class="card-title text-uppercase text-muted mb-0">New User to be added</h5>
                  <span class="h2 font-weight-bold mb-0">{{newListByblos[0].length}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"></span>
                <span class="text-nowrap"></span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">users to be deleted</h5>
                  <span class="h2 font-weight-bold mb-0">{{newListCovoiturage[0].length}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-danger mr-2"></span>
                <span class="text-nowrap"></span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">users to be updated</h5>
                  <span class="h2 font-weight-bold mb-0"
                    *ngIf="(newListCovoiturage[0].length == 0) && (newListByblos[0].length == 0)">{{newListtoBeUpdated[0].length}}</span>
                  <span class="h2 font-weight-bold mb-0"
                    *ngIf="(newListCovoiturage[0].length != 0) && (newListByblos[0].length != 0)">0</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-warning mr-2"></span>
                <span class="text-nowrap"></span>
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--8">
  <div class="row mt-5">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Byblos Uesrs </h3>
            </div>
            <div class="col text-right">
              <button class="btn btn-sm btn-primary" (click)="deleteAllUsers()"
                *ngIf="newUsersToBeDeleted.length > 1">delete all</button>
              <button class="btn btn-sm btn-primary" (click)="addAllUsers()" *ngIf="newUsersToBeAded.length > 1">add
                all</button>
              <button (click)="updateAllDB()" class="btn btn-sm btn-primary">synchronize all</button>
            </div>
          </div>
        </div>
        <div class="table-responsive">


          <!-- Table -->
          <div class="row">
            <div class="col">
              <div class="card shadow">

                <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr>
                       
                        <th scope="col">Login User </th>
                        <th scope="col"> First Name</th>
                        <th scope="col">Last Name</th>

                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let user of newListByblos[0]" class="col-12 col-md-12" style="width: 40rem;">
            
                        <td>
                          {{user.login_user}}
                        </td>
                        <td> {{user.nom_user}}</td>
                        <td>
                          {{user.prenom_user}}
                        </td>

                        <td>
                          <button class="btn btn-success fa fa-plus" 
                            (click)="addUserToCovoiturage(user.id_user,user.login_user,user.nom_user,user.prenom_user)"></button>
                        </td>
                

                      <td *ngIf="newListByblos[0].length > 1" >
                        <label class="custom-toggle">
                          <input type="checkbox"  name="options"
                          value="{{user}}"     
                          (change)="addAndRemoveAllUsersToList(user, $event)">
                          <span class="custom-toggle-slider rounded-circle" data-label-off="No" data-label-on="Yes"></span>
                      </label>
                      </td>
                      </tr>

                      <tr *ngFor="let user of newListCovoiturage[0] " class="col-12 col-md-12" style="width: 40rem;">
                        <td>
                          {{user.login_user}}
                        </td>
                        <td> {{user.nom_user}}</td>
                        <td>
                          {{user.prenom_user}}
                        </td>
                        <td>
                          <button class="btn btn-danger fa fa-trash" 
                            (click)="deleteUser(user.id)"></button>
                        </td>           

                        <td *ngIf="newListCovoiturage[0].length > 1">
                          <label class="custom-toggle">
                            <input type="checkbox"  name="options"
                            value="{{user}}"     
                            (change)="addAndRemoveAllUsersToListToBeDeleted(user, $event)">
                            <span class="custom-toggle-slider rounded-circle" data-label-off="No" data-label-on="Yes"></span>
                        </label>
                        </td>

                      
                     
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="card-footer py-4">
                  <nav aria-label="...">
                    <ul class="pagination justify-content-end mb-0">
                      <li class="page-item disabled">
                        <a class="page-link" href="javascript:void(0)" tabindex="-1">
                          <i class="fas fa-angle-left"></i>
                          <span class="sr-only">Previous</span>
                        </a>
                      </li>
                      <li class="page-item active">
                        <a class="page-link" href="javascript:void(0)">1</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="javascript:void(0)">
                          <i class="fas fa-angle-right"></i>
                          <span class="sr-only">Next</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function ss() {
    alert("hello");
  };
</script>